#body {
    background-color: white;

    
    
}    

    

section#circle-container {
    height: 2500px;
    width: 100vw;
    margin: auto;
    background-color: whitesmoke;
    position: relative;
    
}    


section#circle-container div.circle-one {
    height: 30%;
    width: 80%;
    margin: auto;
    color:white;
    background-color: orange;
    border-radius: 100%;
} 

section#circle-container div.circle-two {
    height: 50%;
    width: 50%;
    margin: 0;
    position: relative;
    color:rgb(219, 23, 23);
    background-color: blue;
    border-radius: 60%;
    margin: 0px auto;
} 



